<!DOCTYPE html>
<html>
<head>
    <title>Список товарів</title>
</head>
<body>
<h1>Настільні ігри</h1>


<table border="1">
    <tr>
        <th>#</th>
        <th>Назва</th>
        <th>Жанр</th>
        <th>Гравці</th>
        <th>Ціна</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.genre }}</td>
        <td>{{ product.min_players }}-{{ product.max_players }}</td>
        <td>{{ product.price }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Товарів немає</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>